<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>Filter.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>Controllers.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailRentServlet</servlet-name>
        <servlet-class>Controllers.DetailRentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controllers.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Controllers.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjax</servlet-name>
        <servlet-class>Controllers.SearchAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YourRequestServlet</servlet-name>
        <servlet-class>Controllers.YourRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin1</servlet-name>
        <servlet-class>ControllerAdmin.Admin1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Owner1</servlet-name>
        <servlet-class>ControllerOwner.Owner1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Renter1</servlet-name>
        <servlet-class>ControllerRenter.Renter1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>Controllers.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin1</servlet-name>
        <url-pattern>/Admin/admin1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Owner1</servlet-name>
        <url-pattern>/Owner/owner1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Renter1</servlet-name>
        <url-pattern>/Renter/renter1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadHouseServlet</servlet-name>
        <servlet-class>Controllers.UploadHouseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadHouseServlet</servlet-name>
        <url-pattern>/uploadhouse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadRentServlet</servlet-name>
        <servlet-class>Controllers.UploadRentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadRentServlet</servlet-name>
        <url-pattern>/uploadrent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailRentServlet</servlet-name>
        <url-pattern>/detailrent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjax</servlet-name>
        <url-pattern>/SearchAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YourRequestServlet</servlet-name>
        <url-pattern>/yourRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
