USE [master]
GO
/****** Object:  Database [PRJ301_SE1761_FA23]    Script Date: 11/7/2023 3:30:43 PM ******/
CREATE DATABASE [PRJ301_SE1761_FA23]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ301_SE1761_FA23', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRJ301_SE1761_FA23.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ301_SE1761_FA23_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRJ301_SE1761_FA23_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301_SE1761_FA23].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301_SE1761_FA23]
GO
/****** Object:  Table [dbo].[BuildingHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildingHE171464](
	[BuildingId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[WardId] [int] NULL,
	[Address] [nvarchar](80) NULL,
	[Image] [nvarchar](max) NULL,
	[UpdateTime] [datetime] NULL,
	[Map] [nvarchar](max) NULL,
	[DisableTime] [datetime] NULL,
	[Status] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_BuildingHE171464] PRIMARY KEY CLUSTERED 
(
	[BuildingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityHE171464](
	[CityId] [int] NOT NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK_CityHE171464_1] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractHE171464](
	[ContractId] [int] IDENTITY(1,1) NOT NULL,
	[RentEntityId] [int] NULL,
	[DateSigned] [datetime] NULL,
	[Status] [int] NULL,
	[UpdateAt] [datetime] NULL,
	[CreateAt] [datetime] NULL,
	[StartRentDate] [datetime] NULL,
 CONSTRAINT [PK_ContractHE171464] PRIMARY KEY CLUSTERED 
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractHistoryHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractHistoryHE171464](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateAt] [datetime] NULL,
	[Price] [int] NULL,
	[Status] [int] NULL,
	[RenterId] [nvarchar](20) NULL,
	[OwnerId] [nvarchar](20) NULL,
	[Description] [nvarchar](500) NULL,
	[Image] [varchar](max) NULL,
	[ExpiredTime] [int] NULL,
	[PeopleApplied] [int] NULL,
 CONSTRAINT [PK_ContactHistoryHE171464] PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistrictHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictHE171464](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CityId] [int] NOT NULL,
	[DistrictNum] [int] NULL,
 CONSTRAINT [PK_DistrictHE171464] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacilityHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacilityHE171464](
	[FacilityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[Icon] [varchar](max) NULL,
 CONSTRAINT [PK_FacilityHE171464] PRIMARY KEY CLUSTERED 
(
	[FacilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackHE171464](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[RatingPoint] [int] NULL,
	[CommentRating] [nvarchar](500) NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [int] NULL,
	[HouseId] [int] NULL,
	[BuildingId] [int] NULL,
 CONSTRAINT [PK_FeedbackHE171464] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseHE171464](
	[HouseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[WardId] [int] NULL,
	[Address] [nvarchar](80) NULL,
	[DisabledTime] [datetime] NULL,
	[Status] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[HouseTypeId] [int] NULL,
	[UpdatedTime] [datetime] NULL,
	[Map] [nvarchar](max) NULL,
	[BuildingId] [int] NULL,
	[OwnerId] [nvarchar](50) NULL,
 CONSTRAINT [PK_HouseHE171464_TEMP_NewName] PRIMARY KEY CLUSTERED 
(
	[HouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseTypeIdHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseTypeIdHE171464](
	[HouseTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[HouseTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentHE171464](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [int] NULL,
	[Status] [int] NULL,
	[Content] [nvarchar](100) NULL,
	[PaymentTime] [datetime] NULL,
	[ContractId] [int] NULL,
	[SenderId] [nvarchar](50) NULL,
	[ReceiverId] [nvarchar](50) NULL,
	[PaymentPeriod] [datetime] NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_PaymentHE171464] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentEntityHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentEntityHE171464](
	[RentEntityId] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[RentTypeId] [int] NULL,
	[HouseId] [int] NULL,
	[Price] [int] NULL,
	[Area] [float] NULL,
	[Gender] [bit] NULL,
	[Image] [nvarchar](max) NULL,
	[IsSharing] [bit] NULL,
	[Status] [int] NULL,
	[CreateTime] [datetime] NULL,
	[MaxPeople] [int] NULL,
	[CurrentPeople] [int] NULL,
	[MinPeople] [int] NULL,
	[DepositBy] [nvarchar](50) NULL,
	[DepositTime] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_RentEntityHE171464] PRIMARY KEY CLUSTERED 
(
	[RentEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentEntityTypeHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentEntityTypeHE171464](
	[RentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_RentEntityTypeId] PRIMARY KEY CLUSTERED 
(
	[RentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentFacilityHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentFacilityHE171464](
	[RentFacilityId] [int] IDENTITY(1,1) NOT NULL,
	[RentEntityId] [int] NULL,
	[FacilityId] [int] NULL,
 CONSTRAINT [PK_RentFacilityHE171464] PRIMARY KEY CLUSTERED 
(
	[RentFacilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersHE171464](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [varchar](10) NULL,
	[Fullname] [nvarchar](70) NULL,
	[Gender] [bit] NULL,
	[Dob] [date] NULL,
	[Role] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[CitizenNumber] [varchar](50) NULL,
	[CitizenNumberDate] [date] NULL,
 CONSTRAINT [PK_UsersHE171464] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WardHE171464]    Script Date: 11/7/2023 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WardHE171464](
	[WardId] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[DistrictId] [int] NOT NULL,
 CONSTRAINT [PK_WardHE171464] PRIMARY KEY CLUSTERED 
(
	[WardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BuildingHE171464]  WITH CHECK ADD  CONSTRAINT [FK_BuildingHE171464_UsersHE171464] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[UsersHE171464] ([Username])
GO
ALTER TABLE [dbo].[BuildingHE171464] CHECK CONSTRAINT [FK_BuildingHE171464_UsersHE171464]
GO
ALTER TABLE [dbo].[BuildingHE171464]  WITH CHECK ADD  CONSTRAINT [FK_BuildingHE171464_WardHE171464] FOREIGN KEY([WardId])
REFERENCES [dbo].[WardHE171464] ([WardId])
GO
ALTER TABLE [dbo].[BuildingHE171464] CHECK CONSTRAINT [FK_BuildingHE171464_WardHE171464]
GO
ALTER TABLE [dbo].[ContractHE171464]  WITH CHECK ADD  CONSTRAINT [FK_ContractHE171464_RentEntityHE171464] FOREIGN KEY([RentEntityId])
REFERENCES [dbo].[RentEntityHE171464] ([RentEntityId])
GO
ALTER TABLE [dbo].[ContractHE171464] CHECK CONSTRAINT [FK_ContractHE171464_RentEntityHE171464]
GO
ALTER TABLE [dbo].[ContractHistoryHE171464]  WITH CHECK ADD  CONSTRAINT [FK_ContactHistoryHE171464_ContractHE171464] FOREIGN KEY([ContractId])
REFERENCES [dbo].[ContractHE171464] ([ContractId])
GO
ALTER TABLE [dbo].[ContractHistoryHE171464] CHECK CONSTRAINT [FK_ContactHistoryHE171464_ContractHE171464]
GO
ALTER TABLE [dbo].[DistrictHE171464]  WITH CHECK ADD  CONSTRAINT [FK_DistrictHE171464_CityHE171464] FOREIGN KEY([CityId])
REFERENCES [dbo].[CityHE171464] ([CityId])
GO
ALTER TABLE [dbo].[DistrictHE171464] CHECK CONSTRAINT [FK_DistrictHE171464_CityHE171464]
GO
ALTER TABLE [dbo].[FeedbackHE171464]  WITH CHECK ADD  CONSTRAINT [FK_FeedbackHE171464_BuildingHE171464] FOREIGN KEY([BuildingId])
REFERENCES [dbo].[BuildingHE171464] ([BuildingId])
GO
ALTER TABLE [dbo].[FeedbackHE171464] CHECK CONSTRAINT [FK_FeedbackHE171464_BuildingHE171464]
GO
ALTER TABLE [dbo].[FeedbackHE171464]  WITH CHECK ADD  CONSTRAINT [FK_FeedbackHE171464_HouseHE171464] FOREIGN KEY([HouseId])
REFERENCES [dbo].[HouseHE171464] ([HouseId])
GO
ALTER TABLE [dbo].[FeedbackHE171464] CHECK CONSTRAINT [FK_FeedbackHE171464_HouseHE171464]
GO
ALTER TABLE [dbo].[HouseHE171464]  WITH CHECK ADD  CONSTRAINT [FK_HouseHE171464_BuildingHE171464] FOREIGN KEY([BuildingId])
REFERENCES [dbo].[BuildingHE171464] ([BuildingId])
GO
ALTER TABLE [dbo].[HouseHE171464] CHECK CONSTRAINT [FK_HouseHE171464_BuildingHE171464]
GO
ALTER TABLE [dbo].[HouseHE171464]  WITH CHECK ADD  CONSTRAINT [FK_HouseHE171464_HouseTypeIdHE171464] FOREIGN KEY([HouseTypeId])
REFERENCES [dbo].[HouseTypeIdHE171464] ([HouseTypeId])
GO
ALTER TABLE [dbo].[HouseHE171464] CHECK CONSTRAINT [FK_HouseHE171464_HouseTypeIdHE171464]
GO
ALTER TABLE [dbo].[HouseHE171464]  WITH CHECK ADD  CONSTRAINT [FK_HouseHE171464_UsersHE171464] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[UsersHE171464] ([Username])
GO
ALTER TABLE [dbo].[HouseHE171464] CHECK CONSTRAINT [FK_HouseHE171464_UsersHE171464]
GO
ALTER TABLE [dbo].[HouseHE171464]  WITH CHECK ADD  CONSTRAINT [FK_HouseHE171464_WardHE171464] FOREIGN KEY([WardId])
REFERENCES [dbo].[WardHE171464] ([WardId])
GO
ALTER TABLE [dbo].[HouseHE171464] CHECK CONSTRAINT [FK_HouseHE171464_WardHE171464]
GO
ALTER TABLE [dbo].[PaymentHE171464]  WITH CHECK ADD  CONSTRAINT [FK_PaymentHE171464_ContractHE171464] FOREIGN KEY([ContractId])
REFERENCES [dbo].[ContractHE171464] ([ContractId])
GO
ALTER TABLE [dbo].[PaymentHE171464] CHECK CONSTRAINT [FK_PaymentHE171464_ContractHE171464]
GO
ALTER TABLE [dbo].[PaymentHE171464]  WITH CHECK ADD  CONSTRAINT [FK_PaymentHE171464_UsersHE171464] FOREIGN KEY([SenderId])
REFERENCES [dbo].[UsersHE171464] ([Username])
GO
ALTER TABLE [dbo].[PaymentHE171464] CHECK CONSTRAINT [FK_PaymentHE171464_UsersHE171464]
GO
ALTER TABLE [dbo].[PaymentHE171464]  WITH CHECK ADD  CONSTRAINT [FK_PaymentHE171464_UsersHE1714641] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[UsersHE171464] ([Username])
GO
ALTER TABLE [dbo].[PaymentHE171464] CHECK CONSTRAINT [FK_PaymentHE171464_UsersHE1714641]
GO
ALTER TABLE [dbo].[RentEntityHE171464]  WITH CHECK ADD  CONSTRAINT [FK_RentEntityHE171464_HouseHE171464] FOREIGN KEY([HouseId])
REFERENCES [dbo].[HouseHE171464] ([HouseId])
GO
ALTER TABLE [dbo].[RentEntityHE171464] CHECK CONSTRAINT [FK_RentEntityHE171464_HouseHE171464]
GO
ALTER TABLE [dbo].[RentEntityHE171464]  WITH CHECK ADD  CONSTRAINT [FK_RentEntityHE171464_RentEntityTypeHE171464] FOREIGN KEY([RentTypeId])
REFERENCES [dbo].[RentEntityTypeHE171464] ([RentTypeId])
GO
ALTER TABLE [dbo].[RentEntityHE171464] CHECK CONSTRAINT [FK_RentEntityHE171464_RentEntityTypeHE171464]
GO
ALTER TABLE [dbo].[RentEntityHE171464]  WITH CHECK ADD  CONSTRAINT [FK_RentEntityHE171464_UsersHE171464] FOREIGN KEY([UpdateBy])
REFERENCES [dbo].[UsersHE171464] ([Username])
GO
ALTER TABLE [dbo].[RentEntityHE171464] CHECK CONSTRAINT [FK_RentEntityHE171464_UsersHE171464]
GO
ALTER TABLE [dbo].[RentEntityHE171464]  WITH CHECK ADD  CONSTRAINT [FK_RentEntityHE171464_UsersHE1714641] FOREIGN KEY([UpdateBy])
REFERENCES [dbo].[UsersHE171464] ([Username])
GO
ALTER TABLE [dbo].[RentEntityHE171464] CHECK CONSTRAINT [FK_RentEntityHE171464_UsersHE1714641]
GO
ALTER TABLE [dbo].[RentEntityHE171464]  WITH CHECK ADD  CONSTRAINT [FK_RentEntityHE171464_UsersHE1714642] FOREIGN KEY([DepositBy])
REFERENCES [dbo].[UsersHE171464] ([Username])
GO
ALTER TABLE [dbo].[RentEntityHE171464] CHECK CONSTRAINT [FK_RentEntityHE171464_UsersHE1714642]
GO
ALTER TABLE [dbo].[RentFacilityHE171464]  WITH CHECK ADD  CONSTRAINT [FK_RentFacilityHE171464_FacilityHE171464] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[FacilityHE171464] ([FacilityId])
GO
ALTER TABLE [dbo].[RentFacilityHE171464] CHECK CONSTRAINT [FK_RentFacilityHE171464_FacilityHE171464]
GO
ALTER TABLE [dbo].[RentFacilityHE171464]  WITH CHECK ADD  CONSTRAINT [FK_RentFacilityHE171464_RentEntityHE171464] FOREIGN KEY([RentEntityId])
REFERENCES [dbo].[RentEntityHE171464] ([RentEntityId])
GO
ALTER TABLE [dbo].[RentFacilityHE171464] CHECK CONSTRAINT [FK_RentFacilityHE171464_RentEntityHE171464]
GO
ALTER TABLE [dbo].[WardHE171464]  WITH CHECK ADD  CONSTRAINT [FK_WardHE171464_DistrictHE171464] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[DistrictHE171464] ([DistrictId])
GO
ALTER TABLE [dbo].[WardHE171464] CHECK CONSTRAINT [FK_WardHE171464_DistrictHE171464]
GO
USE [master]
GO
